<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autentificare</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container_logare">
        <h1>Autentificare</h1>
        <% if (mesajEroare) { %>
            <p class="error-message"><%= mesajEroare %></p>
        <% } %>
        <form action="/verificare-autentificare" method="post">
            <div class="form-group_logare">
                <label for="utilizator">Utilizator:</label>
                <input type="text" id="utilizator" name="utilizator" required>
            </div>
            <div class="form-group_logare">
                <label for="parola">Parolă:</label>
                <input type="password" id="parola" name="parola" required>
            </div>
            <button type="submit" class="submit-button">Autentificare</button>
        </form>
        <p>Nu ai cont? <a href="/creare-cont">Creare cont</a></p>
        <a href="/" ><button class="Home_button">Home</button></a>
    </div>
</body>
</html>
