<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="layout-body">
    <header class="layout-header">
        <h1 class="layout-title">Fotografii</h1>
    </header>
    <main class="layout-main">
        <%- include('index') %>
    </main>
    <footer class="layout-footer">
        <p>&copy; 2024 Davenco poze</p>
    </footer>
</body>
</html>
