<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezultatele chestionarului</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="results-container">
        <h1>Rezultatele chestionarului</h1>
        <div class="result-summary">
            <p>Ați răspuns corect la <%= numarRaspunsuriCorecte %> din <%= totalIntrebari %> întrebări.</p>
            <p><a href="/chestionar" class="submit_button_rez">Înapoi la chestionar</a></p>
        </div>
        <div class="home-button-container">
            <a href="/"><button class="Home_button">Home</button></a>
        </div>
    </main>
</body>
</html>
